$header-color: #4569e4;
$body-color: #8ca6ff;
$nav-footer-color: #acb6d9;
$border: 2px solid #000080;
$title-color: #fff;
$button-color: #4569e4;
$button: #3498db;

header {
  background-color: $header-color;
}

h1 {
  color: $title-color;
  font-family: Arial, serif;
  font-size: 70px;
  text-align: center;
}

body {
  align-content: center;
  background-color: $body-color;
}

nav {
  background-color: $nav-footer-color;
  border: $border;
  float: left;
  width: 100%;

  button {
    float: left;
    padding: 10px 20px;
  }
}

p {
  text-align: center;
}

.btn {
  background: $button;
  border-radius: 10px;
  color: $title-color;
  font-family: Arial;
  font-size: 15px;
  padding: 10px 20px;
  text-decoration: none;
}

.container-game {
  display: inline-block;
  margin: auto;
  padding: 2% 20%;
  width: 100%;
}

.box {
  border: $border;
  font-size: 80px;
  height: 150px;
  text-align: center;
}

.sign-in-prompt {
  border: $border;
  font-size: 20px;
  height: 100px;
  text-align: center;
  width: 100%;
}
//
// button {
//   background-color: $button-color;
//   color: $title-color;
// }
